In [1]:
from dotenv import load_dotenv
load_dotenv()
from src.data.loader import DataLoader

In [2]:
data_loader = DataLoader()

In [3]:
hand_histories = data_loader.load_hand_histories()
hand_histories.head()

,id,hand_date,max_players,cnt_players,button_seat,tournament_id,ref_tournament_buy_in_total,ref_tournament_speed,ref_tournament_type,total_players_range,...,turn_card,turn_card_is_broadway,turn_card_is_face,turn_card_rank,turn_card_suit,river_card,river_card_is_broadway,river_card_is_face,river_card_rank,river_card_suit
0,39804,2015-08-07 12:00:28+00:00,6,6,2,125561321,0.0,TURBO,CLASSIC,2001 - 5000,...,2c,False,False,2,c,Jh,True,True,J,h
1,39805,2015-08-07 12:01:39+00:00,6,6,3,125561321,0.0,TURBO,CLASSIC,2001 - 5000,...,Js,True,True,J,s,7h,False,False,7,h
2,39802,2015-08-07 12:03:00+00:00,6,6,3,125561321,0.0,TURBO,CLASSIC,2001 - 5000,...,2c,False,False,2,c,5h,False,False,5,h
3,39803,2015-08-07 12:03:34+00:00,6,5,4,125561321,0.0,TURBO,CLASSIC,2001 - 5000,...,Ts,True,False,T,s,6s,False,False,6,s
4,39806,2015-08-07 12:04:16+00:00,6,6,5,125561321,0.0,TURBO,CLASSIC,2001 - 5000,...,2s,False,False,2,s,Qc,True,True,Q,c

In [5]:
hand_histories.shape

(383155, 76)

In [6]:
memory_used = hand_histories.memory_usage(deep=True).sum()

In [7]:
print(f"Memory used: {memory_used / 1024 ** 2:.2f} MB, {memory_used / 1024 ** 3:.2f} GB")

Memory used: 46.51 MB, 0.05 GB

In [8]:
hand_histories.describe()

,id,max_players,cnt_players,button_seat,ref_tournament_buy_in_total,level_value,level_sb,level_bb,level_ante,hero_combo_hand_rank_difference,flop_min_distance,flop_max_distance
count,383155.000000,383155.000000,383155.000000,383155.000000,383155.0,383155.000000,383155.000000,3.831550e+05,383155.000000,382845.000000,241021.000000,241021.000000
mean,195606.461756,6.265827,5.769441,3.630946,NaN,10.429100,1869.269897,3.738540e+03,445.818878,3.954546,1.562959,5.964787
std,113863.597623,1.026848,1.166572,1.880291,0.0,7.865857,10849.684570,2.169937e+04,2579.290039,2.693459,1.157367,2.503885
min,1.000000,2.000000,2.000000,1.000000,0.0,0.000000,10.000000,2.000000e+01,0.000000,0.000000,0.000000,0.000000
25%,95807.500000,6.000000,5.000000,2.000000,1.0,4.000000,150.000000,3.000000e+02,35.000000,2.000000,1.000000,4.000000
50%,195863.000000,6.000000,6.000000,4.000000,2.0,9.000000,350.000000,7.000000e+02,80.000000,4.000000,1.000000,6.000000
75%,295166.500000,6.000000,6.000000,5.000000,5.0,15.000000,800.000000,1.600000e+03,200.000000,6.000000,2.000000,8.000000
max,390955.000000,10.000000,10.000000,10.000000,50.0,166.000000,700000.000000,1.400000e+06,160000.000000,11.000000,5.000000,11.000000

In [9]:
hand_histories.dtypes

id                                      int64
hand_date                 datetime64[ns, UTC]
max_players                              Int8
cnt_players                              Int8
button_seat                              Int8
                                 ...
river_card                           category
river_card_is_broadway                   bool
river_card_is_face                       bool
river_card_rank                      category
river_card_suit                      category
Length: 76, dtype: object

In [10]:
hand_histories.select_dtypes(include="boolean").describe()

,hero_combo_hand_is_suited,hero_combo_hand_is_offsuit,hero_combo_hand_is_paired,hero_combo_hand_is_connector,hero_combo_hand_is_one_gapper,hero_combo_hand_is_two_gapper,hero_combo_hand_is_broadway,hero_combo_hand_is_face,hero_combo_hand_is_suited_connector,hero_combo_first_card_is_broadway,...,flop_first_card_is_broadway,flop_first_card_is_face,flop_second_card_is_broadway,flop_second_card_is_face,flop_third_card_is_broadway,flop_third_card_is_face,turn_card_is_broadway,turn_card_is_face,river_card_is_broadway,river_card_is_face
count,383155,383155,383155,383155,383155,383155,383155,383155,383155,383155,...,383155,383155,383155,383155,383155,383155,383155,383155,383155,383155
unique,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
top,False,True,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
freq,292618,270168,360085,322553,327411,332258,328190,363617,367630,239917,...,197741,272775,306335,334384,371244,377343,313542,340994,326195,348667